In [ ]:
Introduction to Python Programming :

In [ ]:
Understanding the variables in Python :

In [ ]:
a=2

In [ ]:
b=3

In [ ]:
c=a+b

In [ ]:
print(c)

In [ ]:
Rules for declaring the variable name

In [ ]:
Rule No:1 No namespaces while declaring the variable name

In [ ]:
first name = 'Ali'

In [5]:
print(first name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3852772612.py, line 1)

In [ ]:
The correct way is :

In [24]:
firstname = 'Ali'

In [25]:
print(firstname)

Ali

In [18]:
first_name = "Ali"

In [19]:
print(first_name)

Ali

In [ ]:
Rule No:2 A variable name should not start with numbers** (Important)

In [20]:
1name = 'anand'

SyntaxError: invalid decimal literal (2259956999.py, line 1)

In [ ]:
The correct way is :

In [22]:
name1 = 'ajay'

In [23]:
print(name1)

ajay

In [ ]:
Rule No:3 A variable should not contain special charecters (@,#,$,%,^,&,*,etc,) are specia; charecters

In [28]:
name@ = 'Amir'

In [29]:
print(name@)

SyntaxError: invalid syntax (3535163447.py, line 1)

In [ ]:
Introduction to Datatypes in Python

In [ ]:
1. String ----> (str)

In [ ]:
2. Numbers (integer) ----> (int)

In [ ]:
3. Lists ----> (list)

In [ ]:
4. Tuples ----> (tuple)

In [ ]:
5. Dictionaries ----> (dict)

In [ ]:
Note : Python Programming is case sensitive programming language

In [ ]:
Datatypes are classified into two types :

In [ ]:
1. Mutable Datatypes ---> which will be to (edit/alter) flexible in nature

In [ ]:
2. Immutable Datatypes ---> which will not be able to (edit/alter) fixed in nature

In [ ]:
for instance :

In [ ]:
#string ---> single quote

In [30]:
name1 = 'Ali'

In [31]:
print(name1)

Ali

In [ ]:
#string ---> double quote

In [32]:
name2 = 'Hashim'

In [33]:
print(name2)

Hashim

In [ ]:
NOTE : There is no difference between (single and double) quotes

In [ ]:
Introduction to string methods :

In [34]:
type(name)

str

In [35]:
type(name2)

str

In [36]:
# is used for commenting the code

In [38]:
fullname = 'Ali akbar'

In [39]:
print(fullname)

Ali akbar

In [40]:
print(fullname.title())

Ali Akbar

In [ ]:
# For changing the whole name in capital letters

In [41]:
print(fullname.upper())

ALI AKBAR

In [ ]:
# For changing the whole name in small letters

In [42]:
print(fullname.lower())

ali akbar

In [ ]:
Day 02 Completed